*{
    padding: 0;
    margin: 0;
}
.container{
    padding: 50px;

}
.section-one{
    background-color: black
}
.section-one__title{
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-top: 20px;
}
.section-one__button{
    list-style: none;
    color: grey;
    text-align: center;
    
}
.section-one__button li{
    display: inline-block;
    font-size: 1.2rem;
    padding-right: 10px;
    padding-bottom: 20px;
}
.section-two{
    text-align: center;
    margin-top: 10px;

}
.first-card{
    border: 2px solid black;
    display: inline-block
}
.card-button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 5px;
    margin-top: 5px;
}
.section-three{
    margin-top: 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.3rem;
}
.section-three__title{
    text-align: center;
    padding-top: 20px;
    font-size: 2rem;
}
.section-three__desc{
    display: inline-block;
    margin-top: 10px;
    text-align: left;
}
.section-three__button{
    background-color: yellow;
    color: black;
    display: inline-block;
    text-align: center;
    padding: 3px 200px;
    font-size: 1.3rem;
    margin-bottom: 20px;
}