* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    text-align: center;
    padding: 10px;
}
.header{
    background-color: pink;
    color: black;
    padding: 10px;

}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;

}

.card{
    background-color: black;
    color: white;
    width: 220px;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
}

.card ul{
    list-style: none;
    margin-top: 15px;
    text-align: left;
}

.card ul li{
    margin: 8px;
    font-size: 15px;
}
.card h2{
    text-align: center;
}
.card h3{
    text-align: center;
}
.card .inner-box {
    border: solid white 2px;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
}
.fa-check {
    color: blue;
    margin-right: 5px;
}

.fa-xmark {
    color: red;
    margin-right: 5px;
}
