* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin: 0;
    font-family: Arial;
}



.container {
    width: 80%;
    background-color: rgb(241, 159, 150);
    border: solid blue 4px;
    padding: 20px;
    text-align: center;
}

.title {
    margin-top: 20px 0;
    margin-bottom: 20px;
    padding: 20px;
}
.Gallery_one {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.Gallery_one img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border: solid black 4px;
    display: flex;
    margin: 15px;
}